.DS_Store
.idea
.bricksync-data
.vast
target
node_modules
.env
!vast-portal/.env
vb-portal-api/src/main/resources/db/migration/data
vast-portal-full-version
orders
inventory
vb-chrome-plugin-manspasts/credentials.json
