server:
  port : 6161

#logging:
#  level:
#    root: debug

spring:
  flyway:
    enabled: true
    url: 'jdbc:postgresql://localhost:2345/bricks'
    user: bricks
    password: bricks
    locations: classpath:/db/migration,classpath:/db/migration/data
    clean-disabled: false
    placeholders:
      lowest_offer_interval: '3 hours'
  datasource:
    url: jdbc:postgresql://localhost:2345/bricks
    username: bricks
    password: bricks
    driver-class-name: org.postgresql.Driver


  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    generate-ddl: false
