{
  "openapi": "3.1.0",
  "info": {
    "title": "Invoice API v1",
    "version": "1.0.0",
    "description": "Invoice API for integrating external systems. Authenticate with a Bearer token from **API tokens**. Each token is limited to the Profile it was created for.\n\nOptional fields use defaults when omitted. Relations use a selection mode: send `*_selection_mode` as `existing` (find by selector fields) or `new` (create fields on the same object).\n\nUse the base URL below and send `Accept: application/json` and `Content-Type: application/json`. Error responses use a JSON `message` field; validation errors (422) also include an `errors` object."
  },
  "servers": [
    {
      "url": "https://web.manakabata.lv/api/v1"
    }
  ],
  "tags": [
    {
      "name": "Invoices",
      "description": "Create and manage invoices. Optional fields use defaults when omitted. Relations use a selection mode: `existing` (use an existing record — send at least one lookup field such as `uuid`) or `new` (create a new record — send create fields on the same object, no nested `create` key). When creating a Recipient or Payer (`*_selection_mode` = `new`), Reg. No. / Per. ID, Address, and Country are required if Type is `company` (Legal entity) or Self-employed is true. Type must match Category: for `product` use `prepayment`, `bill_of_landing`, or `credit` (or a custom type UUID); for `service` use `prepayment`, `post_payment`, `actual`, or `credit` (or a custom type UUID). Built-in Type, VAT rate, Unit, and Category values with meanings are listed on each request field."
    },
    {
      "name": "Clients",
      "description": "Manage clients used as Recipient and Payer on invoices. Reg. No. / Per. ID, Address, and Country are required when Type is `company` (Legal entity) or Self-employed is true."
    },
    {
      "name": "Invoice lines",
      "description": "Manage Invoice lines on an existing invoice. Related VAT rate and Product catalog entries can be found by UUID when provided."
    },
    {
      "name": "Bank accounts",
      "description": "Manage supplier bank accounts on `/bank-accounts`. Manage client bank accounts on `/clients/{client}/bank-accounts`."
    },
    {
      "name": "Product catalog",
      "description": "Manage Product catalog entries used on Invoice lines. Name accepts a string for all languages or a translation object `{\"en\":\"…\",\"lv\":\"…\"}` (languages: `en` English, `lv` Latviešu). Price and Currency are required together (send both or neither). Quantity is allowed only when Count quantity is true. Catalog products can also be found or created when adding Invoice lines."
    },
    {
      "name": "VAT rates",
      "description": "Manage VAT rates. Built-in rates `21`, `12`, `5`, and `0` (zero rate) are always available and cannot be created again. VAT not applicable uses a Label with no rate (`value` null). Either VAT rate or Label is required (not both omitted). Optional VAT reference accepts built-in codes (each with a meaning listed on the field) or free text. VAT rates can also be found or created when adding Invoice lines."
    },
    {
      "name": "Invoice numbers",
      "description": "Manage Invoice numbers (invoice number series). One series can be marked Use by default."
    },
    {
      "name": "Invoice types",
      "description": "Manage Invoice types per Category (`product` = Product — invoice for goods; `service` = Service — invoice for services). Built-in types already exist and cannot be changed or deleted. For Category `product`: `prepayment` (Prepayment — pay before delivery), `bill_of_landing` (Bill of landing — delivery accompanying document), `credit` (Credit — reduces a previously issued amount). For Category `service`: `prepayment` (Prepayment — pay before delivery), `post_payment` (Post-payment — pay after delivery), `actual` (Actual — final invoice for the actual transaction), `credit` (Credit — reduces a previously issued amount). When creating an invoice, send a built-in key or the UUID of a custom type from this list. Name accepts a string for all languages or a translation object `{\"en\":\"…\",\"lv\":\"…\"}`."
    }
  ],
  "paths": {
    "/invoices": {
      "get": {
        "operationId": "invoice_index",
        "description": "Returns a paginated list of invoices.",
        "summary": "List invoices",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page.",
            "schema": {
              "type": "integer",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `InvoiceResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/InvoiceResource"
                          },
                          {
                            "type": "object",
                            "required": [
                              "products"
                            ]
                          }
                        ]
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "last": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "prev": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "next": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "first",
                        "last",
                        "prev",
                        "next"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "from": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "minimum": 1
                        },
                        "last_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "links": {
                          "type": "array",
                          "description": "Generated paginator links.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "label": {
                                "type": "string"
                              },
                              "active": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "url",
                              "label",
                              "active"
                            ]
                          }
                        },
                        "path": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Base path for paginator generated URLs."
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "Number of items shown per page.",
                          "minimum": 0
                        },
                        "to": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Number of the last item in the slice.",
                          "minimum": 1
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total number of items being paginated.",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "current_page",
                        "from",
                        "last_page",
                        "links",
                        "path",
                        "per_page",
                        "to",
                        "total"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      },
      "post": {
        "operationId": "invoice_store",
        "description": "Optional fields use defaults when omitted (for example Date defaults to today, Currency to `EUR` (Euro), Language to the account language).\nFor Recipient, Payer, Invoice number, and Bank accounts send `*_selection_mode` as `existing` (use an existing record — send at least one lookup field such as `uuid`) or `new` (create with fields on the same object; no nested `create` key).\nWhen Payer matches the recipient is false, Payer and `payer_bank_account` are required.\nWhen creating a Recipient or Payer: Reg. No. / Per. ID, Address, and Country are required if Type is `company` (Legal entity) or Self-employed is true.\nType must match Category — see the Type field for allowed built-in keys and meanings per Category (or send a custom type UUID from the Invoice types list).\nOn Invoice lines, Name / Unit / Price without VAT are required unless Product catalog is linked and provides them.",
        "summary": "Create an invoice",
        "tags": [
          "Invoices"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreInvoiceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`InvoiceResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/InvoiceResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "description": "An error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview.",
                      "examples": [
                        ""
                      ]
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/invoices/{invoice}": {
      "get": {
        "operationId": "invoice_show",
        "description": "Returns one invoice by UUID, including Recipient, Payer, Bank accounts, and Invoice lines as snapshots stored on the invoice.",
        "summary": "Get an invoice",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "invoice",
            "in": "path",
            "required": true,
            "description": "Invoice UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`InvoiceResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/InvoiceResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      },
      "put": {
        "operationId": "invoice_update",
        "description": "Only sent fields are changed. Category, Type, and Recipient are optional on update (`sometimes`). Relations use the same `existing` / `new` selection modes as create. Type must still match Category when both are sent.",
        "summary": "Update an invoice",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "invoice",
            "in": "path",
            "required": true,
            "description": "Invoice UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInvoiceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`InvoiceResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/InvoiceResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "invoice_destroy",
        "description": "Archives the invoice. Use Restore to bring it back, or Delete to remove it permanently.",
        "summary": "Archive an invoice",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "invoice",
            "in": "path",
            "required": true,
            "description": "Invoice UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/invoices/{invoice}/restore": {
      "put": {
        "operationId": "invoice_restore",
        "description": "Restores an archived invoice.",
        "summary": "Restore an invoice",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "invoice",
            "in": "path",
            "required": true,
            "description": "Invoice UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`InvoiceResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/InvoiceResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/invoices/{invoice}/force-delete": {
      "delete": {
        "operationId": "invoice_force_delete",
        "description": "Permanently deletes an archived invoice. This action cannot be undone.",
        "summary": "Delete an invoice",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "invoice",
            "in": "path",
            "required": true,
            "description": "Invoice UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/clients": {
      "get": {
        "operationId": "client_index",
        "description": "Returns a paginated list of clients.",
        "summary": "List clients",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page.",
            "schema": {
              "type": "integer",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `ClientResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ClientResource"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "last": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "prev": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "next": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "first",
                        "last",
                        "prev",
                        "next"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "from": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "minimum": 1
                        },
                        "last_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "links": {
                          "type": "array",
                          "description": "Generated paginator links.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "label": {
                                "type": "string"
                              },
                              "active": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "url",
                              "label",
                              "active"
                            ]
                          }
                        },
                        "path": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Base path for paginator generated URLs."
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "Number of items shown per page.",
                          "minimum": 0
                        },
                        "to": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Number of the last item in the slice.",
                          "minimum": 1
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total number of items being paginated.",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "current_page",
                        "from",
                        "last_page",
                        "links",
                        "path",
                        "per_page",
                        "to",
                        "total"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      },
      "post": {
        "operationId": "client_store",
        "description": "Creates a new client. Reg. No. / Per. ID, Address, and Country are required when Type is `company` (Legal entity) or Self-employed is true.",
        "summary": "Create a client",
        "tags": [
          "Clients"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreClientRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`ClientResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ClientResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "description": "An error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview.",
                      "examples": [
                        ""
                      ]
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/clients/{client}": {
      "get": {
        "operationId": "client_show",
        "description": "Returns a single client by UUID.",
        "summary": "Get a client",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "client",
            "in": "path",
            "required": true,
            "description": "Client UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`ClientResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ClientResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      },
      "put": {
        "operationId": "client_update",
        "description": "Updates the given client fields. Same conditional requirements as Create a client.",
        "summary": "Update a client",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "client",
            "in": "path",
            "required": true,
            "description": "Client UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClientRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`ClientResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ClientResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "client_destroy",
        "description": "Archives the client. Use Restore to bring it back, or Delete to remove it permanently.",
        "summary": "Archive a client",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "client",
            "in": "path",
            "required": true,
            "description": "Client UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/clients/{client}/restore": {
      "put": {
        "operationId": "client_restore",
        "description": "Restores an archived client.",
        "summary": "Restore a client",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "client",
            "in": "path",
            "required": true,
            "description": "Client UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`ClientResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ClientResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/clients/{client}/force-delete": {
      "delete": {
        "operationId": "client_force_delete",
        "description": "Permanently deletes an archived client. This action cannot be undone.",
        "summary": "Delete a client",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "client",
            "in": "path",
            "required": true,
            "description": "Client UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/invoices/{invoice}/products": {
      "get": {
        "operationId": "invoice_product_index",
        "description": "Returns a paginated list of Invoice lines for the given invoice.",
        "summary": "List invoice lines",
        "tags": [
          "Invoice lines"
        ],
        "parameters": [
          {
            "name": "invoice",
            "in": "path",
            "required": true,
            "description": "Invoice UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page.",
            "schema": {
              "type": "integer",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `InvoiceProductResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InvoiceProductResource"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "last": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "prev": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "next": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "first",
                        "last",
                        "prev",
                        "next"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "from": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "minimum": 1
                        },
                        "last_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "links": {
                          "type": "array",
                          "description": "Generated paginator links.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "label": {
                                "type": "string"
                              },
                              "active": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "url",
                              "label",
                              "active"
                            ]
                          }
                        },
                        "path": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Base path for paginator generated URLs."
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "Number of items shown per page.",
                          "minimum": 0
                        },
                        "to": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Number of the last item in the slice.",
                          "minimum": 1
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total number of items being paginated.",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "current_page",
                        "from",
                        "last_page",
                        "links",
                        "path",
                        "per_page",
                        "to",
                        "total"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      },
      "post": {
        "operationId": "invoice_product_store",
        "description": "Adds an Invoice line. When Product catalog is linked, omitted Name / Code / Unit / Category / Price without VAT are taken from the catalog; sent values win.",
        "summary": "Create an invoice line",
        "tags": [
          "Invoice lines"
        ],
        "parameters": [
          {
            "name": "invoice",
            "in": "path",
            "required": true,
            "description": "Invoice UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreInvoiceProductRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`InvoiceProductResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/InvoiceProductResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/invoices/{invoice}/products/{product}": {
      "get": {
        "operationId": "invoice_product_show",
        "description": "Returns one Invoice line by UUID.",
        "summary": "Get an invoice line",
        "tags": [
          "Invoice lines"
        ],
        "parameters": [
          {
            "name": "invoice",
            "in": "path",
            "required": true,
            "description": "Invoice UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "product",
            "in": "path",
            "required": true,
            "description": "Invoice line UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`InvoiceProductResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/InvoiceProductResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      },
      "put": {
        "operationId": "invoice_product_update",
        "description": "Updates the Invoice line. Optional VAT rate and Product catalog are linked by UUID when provided.",
        "summary": "Update an invoice line",
        "tags": [
          "Invoice lines"
        ],
        "parameters": [
          {
            "name": "invoice",
            "in": "path",
            "required": true,
            "description": "Invoice UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "product",
            "in": "path",
            "required": true,
            "description": "Invoice line UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInvoiceProductRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`InvoiceProductResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/InvoiceProductResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "invoice_product_destroy",
        "description": "Removes the Invoice line and recalculates invoice totals.",
        "summary": "Delete an invoice line",
        "tags": [
          "Invoice lines"
        ],
        "parameters": [
          {
            "name": "invoice",
            "in": "path",
            "required": true,
            "description": "Invoice UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "product",
            "in": "path",
            "required": true,
            "description": "Invoice line UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/bank-accounts": {
      "get": {
        "operationId": "bank_account_index",
        "description": "Returns a paginated list of bank accounts for the supplier (current Profile).",
        "summary": "List supplier bank accounts",
        "tags": [
          "Bank accounts"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page.",
            "schema": {
              "type": "integer",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `BankAccountResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BankAccountResource"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "last": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "prev": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "next": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "first",
                        "last",
                        "prev",
                        "next"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "from": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "minimum": 1
                        },
                        "last_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "links": {
                          "type": "array",
                          "description": "Generated paginator links.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "label": {
                                "type": "string"
                              },
                              "active": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "url",
                              "label",
                              "active"
                            ]
                          }
                        },
                        "path": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Base path for paginator generated URLs."
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "Number of items shown per page.",
                          "minimum": 0
                        },
                        "to": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Number of the last item in the slice.",
                          "minimum": 1
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total number of items being paginated.",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "current_page",
                        "from",
                        "last_page",
                        "links",
                        "path",
                        "per_page",
                        "to",
                        "total"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      },
      "post": {
        "operationId": "bank_account_store",
        "description": "Creates a bank account for the supplier (current Profile).",
        "summary": "Create a supplier bank account",
        "tags": [
          "Bank accounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreBankAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`BankAccountResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BankAccountResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "description": "An error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview.",
                      "examples": [
                        ""
                      ]
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/bank-accounts/{bankAccount}": {
      "get": {
        "operationId": "bank_account_show",
        "description": "Returns a single supplier bank account by UUID.",
        "summary": "Get a supplier bank account",
        "tags": [
          "Bank accounts"
        ],
        "parameters": [
          {
            "name": "bankAccount",
            "in": "path",
            "required": true,
            "description": "Bank account UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`BankAccountResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BankAccountResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      },
      "put": {
        "operationId": "bank_account_update",
        "description": "Updates the given supplier bank account fields.",
        "summary": "Update a supplier bank account",
        "tags": [
          "Bank accounts"
        ],
        "parameters": [
          {
            "name": "bankAccount",
            "in": "path",
            "required": true,
            "description": "Bank account UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBankAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`BankAccountResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BankAccountResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "bank_account_destroy",
        "description": "Permanently deletes the supplier bank account.",
        "summary": "Delete a supplier bank account",
        "tags": [
          "Bank accounts"
        ],
        "parameters": [
          {
            "name": "bankAccount",
            "in": "path",
            "required": true,
            "description": "Bank account UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/clients/{client}/bank-accounts": {
      "get": {
        "operationId": "client_bank_account_index",
        "description": "Returns a paginated list of bank accounts for the given client.",
        "summary": "List client bank accounts",
        "tags": [
          "Bank accounts"
        ],
        "parameters": [
          {
            "name": "client",
            "in": "path",
            "required": true,
            "description": "Client UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page.",
            "schema": {
              "type": "integer",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `BankAccountResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BankAccountResource"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "last": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "prev": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "next": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "first",
                        "last",
                        "prev",
                        "next"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "from": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "minimum": 1
                        },
                        "last_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "links": {
                          "type": "array",
                          "description": "Generated paginator links.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "label": {
                                "type": "string"
                              },
                              "active": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "url",
                              "label",
                              "active"
                            ]
                          }
                        },
                        "path": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Base path for paginator generated URLs."
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "Number of items shown per page.",
                          "minimum": 0
                        },
                        "to": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Number of the last item in the slice.",
                          "minimum": 1
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total number of items being paginated.",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "current_page",
                        "from",
                        "last_page",
                        "links",
                        "path",
                        "per_page",
                        "to",
                        "total"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      },
      "post": {
        "operationId": "client_bank_account_store",
        "description": "Creates a bank account for the given client.",
        "summary": "Create a client bank account",
        "tags": [
          "Bank accounts"
        ],
        "parameters": [
          {
            "name": "client",
            "in": "path",
            "required": true,
            "description": "Client UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreClientBankAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`BankAccountResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BankAccountResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "description": "An error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview.",
                      "examples": [
                        ""
                      ]
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/clients/{client}/bank-accounts/{bankAccount}": {
      "get": {
        "operationId": "client_bank_account_show",
        "description": "Returns a single bank account for the given client by UUID.",
        "summary": "Get a client bank account",
        "tags": [
          "Bank accounts"
        ],
        "parameters": [
          {
            "name": "client",
            "in": "path",
            "required": true,
            "description": "Client UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "bankAccount",
            "in": "path",
            "required": true,
            "description": "Bank account UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`BankAccountResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BankAccountResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      },
      "put": {
        "operationId": "client_bank_account_update",
        "description": "Updates the given client bank account fields.",
        "summary": "Update a client bank account",
        "tags": [
          "Bank accounts"
        ],
        "parameters": [
          {
            "name": "client",
            "in": "path",
            "required": true,
            "description": "Client UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "bankAccount",
            "in": "path",
            "required": true,
            "description": "Bank account UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClientBankAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`BankAccountResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BankAccountResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "client_bank_account_destroy",
        "description": "Permanently deletes the client bank account.",
        "summary": "Delete a client bank account",
        "tags": [
          "Bank accounts"
        ],
        "parameters": [
          {
            "name": "client",
            "in": "path",
            "required": true,
            "description": "Client UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "bankAccount",
            "in": "path",
            "required": true,
            "description": "Bank account UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/invoice-catalog-products": {
      "get": {
        "operationId": "invoice_catalog_product_index",
        "description": "Returns a paginated list from the Product catalog.",
        "summary": "List catalog products",
        "tags": [
          "Product catalog"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page.",
            "schema": {
              "type": "integer",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `InvoiceCatalogProductResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InvoiceCatalogProductResource"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "last": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "prev": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "next": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "first",
                        "last",
                        "prev",
                        "next"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "from": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "minimum": 1
                        },
                        "last_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "links": {
                          "type": "array",
                          "description": "Generated paginator links.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "label": {
                                "type": "string"
                              },
                              "active": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "url",
                              "label",
                              "active"
                            ]
                          }
                        },
                        "path": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Base path for paginator generated URLs."
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "Number of items shown per page.",
                          "minimum": 0
                        },
                        "to": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Number of the last item in the slice.",
                          "minimum": 1
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total number of items being paginated.",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "current_page",
                        "from",
                        "last_page",
                        "links",
                        "path",
                        "per_page",
                        "to",
                        "total"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      },
      "post": {
        "operationId": "invoice_catalog_product_store",
        "description": "Creates a new Product catalog entry. Name accepts either a string for every language (e.g. `\"Consulting\"`) or an object per language (e.g. `{\"en\":\"Consulting\",\"lv\":\"Konsultācijas\"}`). Price and Currency are required together. Quantity is allowed only when Count quantity is true.",
        "summary": "Create a catalog product",
        "tags": [
          "Product catalog"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreInvoiceCatalogProductRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`InvoiceCatalogProductResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/InvoiceCatalogProductResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "description": "An error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview.",
                      "examples": [
                        ""
                      ]
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/invoice-catalog-products/{invoiceCatalogProduct}": {
      "get": {
        "operationId": "invoice_catalog_product_show",
        "description": "Returns a single catalog product by UUID.",
        "summary": "Get a catalog product",
        "tags": [
          "Product catalog"
        ],
        "parameters": [
          {
            "name": "invoiceCatalogProduct",
            "in": "path",
            "required": true,
            "description": "Product catalog UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`InvoiceCatalogProductResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/InvoiceCatalogProductResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      },
      "put": {
        "operationId": "invoice_catalog_product_update",
        "description": "Updates the given catalog product fields.",
        "summary": "Update a catalog product",
        "tags": [
          "Product catalog"
        ],
        "parameters": [
          {
            "name": "invoiceCatalogProduct",
            "in": "path",
            "required": true,
            "description": "Product catalog UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInvoiceCatalogProductRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`InvoiceCatalogProductResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/InvoiceCatalogProductResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "invoice_catalog_product_destroy",
        "description": "Permanently deletes the catalog product.",
        "summary": "Delete a catalog product",
        "tags": [
          "Product catalog"
        ],
        "parameters": [
          {
            "name": "invoiceCatalogProduct",
            "in": "path",
            "required": true,
            "description": "Product catalog UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/invoice-vats": {
      "get": {
        "operationId": "invoice_vat_index",
        "description": "Returns a paginated list of VAT rates.",
        "summary": "List VAT rates",
        "tags": [
          "VAT rates"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page.",
            "schema": {
              "type": "integer",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of `InvoiceVatResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InvoiceVatResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      },
      "post": {
        "operationId": "invoice_vat_store",
        "description": "Creates a new VAT rate. Send VAT rate or Label (at least one required). Built-in rates `21`, `12`, `5`, `0` cannot be created again.",
        "summary": "Create a VAT rate",
        "tags": [
          "VAT rates"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreInvoiceVatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`InvoiceVatResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/InvoiceVatResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "description": "An error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview.",
                      "examples": [
                        ""
                      ]
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/invoice-vats/{invoiceVat}": {
      "get": {
        "operationId": "invoice_vat_show",
        "description": "Returns a single VAT rate by UUID.",
        "summary": "Get a VAT rate",
        "tags": [
          "VAT rates"
        ],
        "parameters": [
          {
            "name": "invoiceVat",
            "in": "path",
            "required": true,
            "description": "VAT rate UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`InvoiceVatResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/InvoiceVatResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      },
      "put": {
        "operationId": "invoice_vat_update",
        "description": "Updates the given VAT rate fields.",
        "summary": "Update a VAT rate",
        "tags": [
          "VAT rates"
        ],
        "parameters": [
          {
            "name": "invoiceVat",
            "in": "path",
            "required": true,
            "description": "VAT rate UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInvoiceVatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`InvoiceVatResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/InvoiceVatResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "invoice_vat_destroy",
        "description": "Permanently deletes the VAT rate.",
        "summary": "Delete a VAT rate",
        "tags": [
          "VAT rates"
        ],
        "parameters": [
          {
            "name": "invoiceVat",
            "in": "path",
            "required": true,
            "description": "VAT rate UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/invoice-numerators": {
      "get": {
        "operationId": "invoice_numerator_index",
        "description": "Returns a paginated list of Invoice number series.",
        "summary": "List invoice numbers",
        "tags": [
          "Invoice numbers"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page.",
            "schema": {
              "type": "integer",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `InvoiceNumeratorResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InvoiceNumeratorResource"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "last": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "prev": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "next": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "first",
                        "last",
                        "prev",
                        "next"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "from": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "minimum": 1
                        },
                        "last_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "links": {
                          "type": "array",
                          "description": "Generated paginator links.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "label": {
                                "type": "string"
                              },
                              "active": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "url",
                              "label",
                              "active"
                            ]
                          }
                        },
                        "path": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Base path for paginator generated URLs."
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "Number of items shown per page.",
                          "minimum": 0
                        },
                        "to": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Number of the last item in the slice.",
                          "minimum": 1
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total number of items being paginated.",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "current_page",
                        "from",
                        "last_page",
                        "links",
                        "path",
                        "per_page",
                        "to",
                        "total"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      },
      "post": {
        "operationId": "invoice_numerator_store",
        "description": "Creates a new Invoice number series.",
        "summary": "Create an invoice number",
        "tags": [
          "Invoice numbers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreInvoiceNumeratorRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`InvoiceNumeratorResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/InvoiceNumeratorResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "description": "An error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview.",
                      "examples": [
                        ""
                      ]
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/invoice-numerators/{invoiceNumerator}": {
      "get": {
        "operationId": "invoice_numerator_show",
        "description": "Returns one Invoice number series by UUID.",
        "summary": "Get an invoice number",
        "tags": [
          "Invoice numbers"
        ],
        "parameters": [
          {
            "name": "invoiceNumerator",
            "in": "path",
            "required": true,
            "description": "Invoice number UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`InvoiceNumeratorResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/InvoiceNumeratorResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      },
      "put": {
        "operationId": "invoice_numerator_update",
        "description": "Updates the given Invoice number series.",
        "summary": "Update an invoice number",
        "tags": [
          "Invoice numbers"
        ],
        "parameters": [
          {
            "name": "invoiceNumerator",
            "in": "path",
            "required": true,
            "description": "Invoice number UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInvoiceNumeratorRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`InvoiceNumeratorResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/InvoiceNumeratorResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "invoice_numerator_destroy",
        "description": "Permanently deletes the Invoice number series.",
        "summary": "Delete an invoice number",
        "tags": [
          "Invoice numbers"
        ],
        "parameters": [
          {
            "name": "invoiceNumerator",
            "in": "path",
            "required": true,
            "description": "Invoice number UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/invoice-types": {
      "get": {
        "operationId": "invoice_type_index",
        "description": "Returns a paginated list of Invoice types.",
        "summary": "List invoice types",
        "tags": [
          "Invoice types"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page.",
            "schema": {
              "type": "integer",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `InvoiceTypeResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InvoiceTypeResource"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "last": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "prev": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "next": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "first",
                        "last",
                        "prev",
                        "next"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "from": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "minimum": 1
                        },
                        "last_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "links": {
                          "type": "array",
                          "description": "Generated paginator links.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "label": {
                                "type": "string"
                              },
                              "active": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "url",
                              "label",
                              "active"
                            ]
                          }
                        },
                        "path": {
                          "type": [
[...]
